#dice -  Best so far, but still bad.
#diceroll - poor syntax
#die - old and poorly named
#dyce   - minimal features
#nicedice  - IRC codes baked in.
#pydice - incomplete
#pydiceparse - incomplete
#rputils - QT User interface???
blinker
coverage
coveralls
fixture
flake8
Flask
Flask-Assets
Flask-Testing
Flask-WTF
gunicorn
jsmin
mock
nose
pylint
pytest
pytest-cov
rednose
simpleparse
unittest2
